@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
*{
    margin: 0px;
    font-family: 'Freckle Face', cursive;
}

.heading{
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    font-weight: 900;
}

.image-container{
     overflow-x: hidden;
}
.background-image{
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.place-over-image{
    width: 100%;
    top:0;
    position: absolute;
}

#txt-translated{
    color:#1D4ED8;
    text-align: center;
    background-color: #FEF08A;
    display: block;
    border: 2px solid black;
    height: 4rem;
    padding: 1rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;    
    font-size: 1.3rem;
}

#txt-translate{
    color: #1E40AF;
    text-align: center;
    background-color: #FCD34D;
    padding: 1rem;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 4rem;
    width: 60%;
    border-radius: 2rem
}

.txt-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 900;
}

.txt-introduction{
    text-align: center;
    margin-top: 1rem;
    
}

#btn-translate{
    display: block;
    margin: auto;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#output-heading{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
   font-size: 2rem; 
   text-align: center;
}